@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;0,800;0,900;1,700;1,900&display=swap");
@import "/styles/main.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  outline: none;
}
:root {
  --color-yellow: #ffa318;
  --color-lightyellow: #ffdcaf;
  --color-red: #ff6347;
  --color-beigewhite: #faebd7;
  --color-white: #fff;
  --color-darkgrey: #2b2b2b;
  --color-shadow: rgba(0, 0, 0, 0.1);

  --font-huge: 38px;
  --font-Xlrg: 32px;
  --font-lrg: 28px;
  --font-medium: 24px;
  --font-small: 16px;
  --font-micro: 14px;

  --weight-chunky: 900;
  --weight-bold: 700;
  --weight-semi-bold: 500;
  --weight-normal: 300;
}
a {
  color: inherit;
}

/*  START MAIN CSS */
main {
  position: relative;
  display: flex;
}

/* nav */
#navbar {
  position: fixed;
  display: flex;
  flex-direction: column;

  background-color: var(--color-yellow);
  width: 300px;
  height: 100%;
  color: var(--color-darkgrey);
}

#navbar .nav__log {
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
  font-size: var(--font-lrg);
}

#navbar .nav__link .fas {
  margin-right: 10px;
}

#navbar .nav__link:hover {
  color: var(--color-white);
  background-color: var(--color-shadow);
}

#nav__img {
  width: 200px;
}

#navbar .nav__menu {
  position: relative;
  width: 100%;
  padding-left: 10px;
  margin-top: 20px;
}

#navbar .nav__menu .nav__item {
  margin: 20px;
  padding: 10px;
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  border-radius: 10px;
}

#navbar .nav__menu .nav__item:hover {
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-shadow);
}

#navbar .nav__menu .nav__item i {
  padding-right: 20px;
}

#navbar .nav__sns {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

#navbar .nav__sns--item {
  font-size: var(--font-huge);
  padding: 10px 14px;
  margin: 20px 0;
  border-radius: 10px;
}

#navbar .nav__sns--item:hover {
  color: var(--color-white);
  background-color: var(--color-shadow);
}

/* main screen */
.section {
  width: 100vw;
  height: 100vh;
  margin-left: 300px;
  background-color: var(--color-lightyellow);
}
#mainscreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home__img img {
  max-width: 500px;
}
