@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;600;800&display=swap");
@import "styles/main.css";
@import "blog_minesweeper/minesweeper.css";
@import "blog_carnival/main.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Karla", sans-serif;
  text-decoration: none;
  /* outline: none; */
}
:root {
  --color-navy: #355070;
  --color-lightyellow: #eaac8b;
  --color-red: #e56b6f;
  --color-dryrose: rgb(181, 101, 118);
  --color-purple: #6d597a;
  --color-white: #fff;
  --color-darkgrey: #2b2b2b;
  --color-lightshadow: rgba(255, 255, 255, 0.3);
  --color-shadow: rgba(0, 0, 0, 0.1);

  --font-huge: 38px;
  --font-Xlrg: 32px;
  --font-lrg: 28px;
  --font-medium: 24px;
  --font-small: 20px;
  --font-micro: 16px;

  --weight-chunky: 800;
  --weight-bold: 600;
  --weight-semi-bold: 400;
  --weight-normal: 300;
}

a {
  color: inherit;
}

/*  START MAIN CSS */
main {
  position: relative;
  display: flex;
}

/* nav */
#navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: var(--color-navy);
  background: linear-gradient(0deg, rgba(109, 89, 122, 1) 62%, rgba(53, 80, 112, 1) 100%);
  width: 300px;
  height: 100%;
  color: var(--color-white);
}

#navbar .nav__log {
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
  font-size: var(--font-medium);
}

#navbar .nav__head {
  font-weight: var(--weight-bold);
}

#navbar .nav__link {
  font-weight: var(--weight-normal);
}

#navbar .nav__link .fas {
  font-size: var(--font-micro);
  margin-right: 10px;
}

#navbar .nav__link:hover {
  color: var(--color-red);
  background-color: var(--color-shadow);
}

#nav__img {
  width: 200px;
}

#navbar .nav__menu {
  position: relative;
  width: 100%;
  padding-left: 10px;
}

#navbar .nav__menu .nav__item {
  margin: 20px;

  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
}

#navbar > .nav__menu > .nav__item > a {
  display: block;
  padding: 10px;
}

#navbar .nav__menu .nav__item > a:hover,
#navbar .nav__menu .nav__item a:hover {
  cursor: pointer;
  color: var(--color-red);
  background-color: var(--color-shadow);
  border-radius: 10px;
}

#navbar .nav__menu .nav__item i {
  padding-right: 20px;
}

.nav__item ul {
  display: none;
}

#navbar .nav__menu .nav__item:hover ul {
  display: block;
}

.nav__item ul > li {
  border-radius: 5px;
  margin: 2px 0;
  font-size: var(--font-small);
  font-weight: var(--weight-normal);
}
.nav__item ul > li > a {
  display: block;
  padding-left: 55px;
}

#navbar .nav__sns {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

#navbar .nav__sns--item {
  font-size: var(--font-huge);
  padding: 10px 14px;
  margin: 20px 0;
  border-radius: 10px;
}

#navbar .nav__sns--item:hover {
  color: var(--color-red);
  background-color: var(--color-shadow);
}

#copyright {
  display: block;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

/* main screen */
.section {
  width: 100vw;
  height: 100vh;
  margin-left: 300px;
}
#mainscreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home__img img {
  max-width: 500px;
}

/* profile */

#profile__screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#profile__screen .profile__main {
  display: flex;
  justify-content: space-around;
}

.profile__block {
  margin: 20px;
  width: 40%;
}

.profile__main .profile__block:first-child {
  margin-left: 10%;
  align-self: center;
}

.profile__block h2 {
  text-align: left;
  font-size: var(--font-Xlrg);
  font-weight: var(--weight-bold);
  line-height: 1.5;
}

.profile__block h3 {
  margin-top: 30px;
  text-align: center;
  font-weight: var(--weight-normal);
  font-size: var(--font-small);
  line-height: 1.5;
}

.profile__img {
  max-width: 80%;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* -------------game screen---------------- */

#gamescreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding-top: 100px;
}

.game_nav {
  position: fixed;
  top: 10px;
}
.game_link {
  font-size: var(--font-medium);
  text-transform: capitalize;
  margin: 0 10px;
}
.game_link:hover {
  color: var(--color-red);
}

.dress-a-parent > .fas {
  color: tomato;
}

/* for media qurey */

#no-mobile {
  display: none;
}

/* ---------media qurey----------- */

@media screen and (max-width: 1400px) {
  .blog__nav {
    display: none;
  }

  .blog__screen {
    margin-top: 0;
  }
}

@media screen and (max-width: 800px) {
  #no-mobile {
    position: fixed;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    background-color: var(--color-navy);
    background: linear-gradient(0deg, rgba(109, 89, 122, 1) 62%, rgba(53, 80, 112, 1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    top: 0;
    overflow: hidden;
  }

  #no-mobile > span {
    font-weight: var(--weight-bold);
    font-size: var(--font-small);
    color: var(--color-white);
    margin: 0 14%;
  }
  #no-mobile > span > .fas {
    margin-bottom: 20px;
    animation: spincogAni 5s ease-in-out infinite;
  }

  @keyframes spincogAni {
    from {
      transform: none;
    }
    to {
      transform: rotateZ(360deg);
    }
  }
}
