main .blog__main {
  height: 100%;
}

.blog__nav {
  display: flex;
  align-items: center;
  background-color: var(--color-dryrose);
  background: linear-gradient(270deg, rgba(109, 89, 122, 1) 42%, rgba(53, 80, 112, 1) 100%);
  height: 100px;
  width: 100%;
  position: fixed;
}

.blog__nav .blog__nav--mainbox {
  display: flex;
  font-size: var(--font-medium);
  margin-left: 20px;
  padding-right: 20px;
  border-right: 6px var(--color-lightshadow) double;
}

.blog__nav .blog__nav--main .fas {
  margin-right: 10px;
}

.blog__nav--list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin: 20px;
  font-size: var(--font-medium);
}

.blog__nav--list > li {
  margin-right: 12px;
  padding-right: 12px;
  font-size: var(--font-small);
  border-right: 2px var(--color-lightshadow) solid;
}

.blog__answer a:hover,
.blog__nav .blog__nav--main:hover,
.blog__nav--list > li a:hover {
  color: var(--color-red);
}

/* blog screen (contents.. etc) */
.blog__screen {
  display: block;
  margin: 12px;
  padding: 5px 20px;
  margin-top: 100px;
  color: var(--color-darkgrey);
  background-color: var(--color-lightshadow);
}

/* blog list screen */
.blog__screen .blog__post {
  font-size: var(--font-lrg);
  font-weight: var(--weight-bold);
  margin: 10px 0;
  padding: 10px;
}

.blog__screen .blog__post .blog__post--summary {
  font-weight: var(--weight-normal);
  font-size: var(--font-medium);
  margin-top: 5px;
}

.blog__screen .blog__post:hover {
  color: var(--color-purple);
  background-color: var(--color-lightyellow);
}

/* blog screen contents */

.blog__screen .blog__title {
  font-size: var(--font-Xlrg);
  font-weight: var(--weight-chunky);
  margin: 50px 0 50px 20px;
}

.blog__contents {
  max-width: 85%;
  line-height: 1.5;
}

.blog__section {
  padding: 40px 40px 20px 40px;
}

.blog__question {
  font-weight: var(--weight-bold);
}

.blog__answer {
  margin: 30px 0;
  font-size: var(--font-small);
  line-height: 1.8;
  letter-spacing: 1px;
}

.reference {
  display: block;
  margin-bottom: 5px;
}
